* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    background-color: #f5f5f5;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 2em 2em 2em 2em;
    text-align: center;
  }
  .column {
    width: 100%;
    padding: 0.5em 0;
    margin-top: 20px;
  }
  h1 {
    width: 100%;
    text-align: center;
    font-size: 3.5em;
    color: #1f003b;
    /* text-decoration: underline; */
    
}
  .card {
    box-shadow: 0 0 2.4em rgba(25, 0, 58, 0.1);
    padding: 3.5em 1em ;
    border-radius: 1em;
    color: #1f003b;
    cursor: pointer;
    transition: 0.3s;
    background-color: #ffffff;
  }
  .card .img-container {
    width: 10em; /*15em*/
    height: 10em;
    background-color: #a993ff;
    padding: 0.2em;
    border-radius: 50%; 
    margin: 0 auto 2em auto;
  }
  .card img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  .card h3 {
    font-weight: 500;
  }
  .card p {
    font-weight: 300;
    text-transform: uppercase;
    margin: 0.5em 0 2em 0;
    letter-spacing: 2px;
  }
  .icons {
    width: 50%;
    min-width: 180px;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  .card a {
    text-decoration: none;
    color: inherit;
    font-size: 1.4em;
  }
  .card:hover {
    background: linear-gradient( #8567f7,#fd4343);
    color: #ffffff;

  }
  .card:hover .img-container {
    transform: scale(1.15);
  }
  @media screen and (min-width: 768px) {
    section {
      padding: 1em 7em;
    }
  }
  @media screen and (min-width: 992px) {
    section {
      padding: 1em;
    }
    .card {
      padding: 5em 1em;
    }
    .column {
      flex: 0 0 33.33%;
      max-width: 33.33%;
      padding: 0 1em;
    }
  }
  .highlight {
    background: linear-gradient(to right, #f5f5f5 50%, #ed4040 50%);
    background-size: 200%;
    background-position: 0 0;
    display: inline;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
  }
  .highlight:hover {
    color: #f5f5f5;
      background-position: -100% 0;
      
  } 